<div>
    <h2 id="page-heading">
        <span jhiTranslate="moneyIoApp.debt.home.title">Debts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-debt" [routerLink]="['/debt/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="moneyIoApp.debt.home.createLabel">
            Create a new Debt
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="debts?.length === 0">
        <span jhiTranslate="moneyIoApp.debt.home.notFound">No debts found</span>
    </div>
    <div class="table-responsive" *ngIf="debts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
            <th scope="col"  jhiSortBy="contact.id"><span jhiTranslate="moneyIoApp.debt.contact">Contact</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="amount"><span jhiTranslate="moneyIoApp.debt.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="currency"><span jhiTranslate="moneyIoApp.debt.currency">Currency</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="owner"><span jhiTranslate="moneyIoApp.debt.owner">Owner</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="closed"><span jhiTranslate="moneyIoApp.debt.closed">Closed</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="created"><span jhiTranslate="moneyIoApp.debt.created">Created</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dueDate"><span jhiTranslate="moneyIoApp.debt.dueDate">Due Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let debt of debts ;trackBy: trackId" [routerLink]="['/debt', debt.id, 'view' ]">
                <td>
                    <div *ngIf="debt.contact">
                        <a [routerLink]="['/contact', debt.contact?.id, 'view' ]" >{{debt.contact?.firstName}} {{debt.contact?.lastName}}</a>
                    </div>
                </td>
                <td>{{debt.amount}}</td>
                <td jhiTranslate="{{'moneyIoApp.Currency.' + debt.currency}}">{{debt.currency}}</td>
                <td jhiTranslate="{{'moneyIoApp.Owner.' + debt.owner}}">{{debt.owner}}</td>
                <td>{{debt.closed}}</td>
                <td>{{debt.created | date:'mediumDate'}}</td>
                <td>{{debt.dueDate | date:'mediumDate'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
